<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
<!--=========================================================== HEADER =============================================================== -->

<header class="menu-chibi" id="logo">

    <span class="logo">naru-fan</span>

    <div class="menu-chibi__container-bouton">

        <div >
    
            <a class="menu-chibi__bouton" href="#histoire">
                <img src="/images/bouton/naruto-bouton.png" width="" alt="image de naruto" class="menu-chibi__image">
            </a>
            
            <p class="menu-chibi__sous-titre">Histoire</p>
    
        </div>
    
        <div >
    
            <a class="menu-chibi__bouton" href="#personnages">
                <img src="/images/bouton/personnages-bouton.png" width="" alt="image de sakura" class="menu-chibi__image">
            </a>
            <p class="menu-chibi__sous-titre">Personnages</p>
    
        </div>
    
        <div >
    
            <a class="menu-chibi__bouton" href="#">
                <img src="/images/bouton/anime-bouton.png" width="" alt="image de sasuke" class="menu-chibi__image">
            </a>
            <p class="menu-chibi__sous-titre">L'annime</p>
    
        </div>
    
        <div >
    
            <a class="menu-chibi__bouton" href="#">
                <img src="/images/bouton/les-scans-bouton.png" width="" alt="image de itachi" class="menu-chibi__image">
            </a>
            <p class="menu-chibi__sous-titre">Les scans</p>
    
        </div>

        <div >
    
            <a class="menu-chibi__bouton" href="#">
                <img src="/images/bouton/jeux-bouton.png" width="" alt="image de itachi" class="menu-chibi__image">
            </a>
            <p class="menu-chibi__sous-titre">Jeux video</p>
    
        </div>
    
    </div>
    
    
</header>