<%- include('partials/header') %> 
<!--=========================================================== HISTOIRE =============================================================== -->

<section class="resumer" id="histoire">

   <a class="ancre" href="#logo"><img class="lien__image" src="/images/bouton/ancre-bouton.png" alt="ancre" ></a>



    <h1 class="resumer__title" >L'histoire de Naruto</h1>

    <div class="resumer__container-info">

        <img class="resumer__image" src="/images/village-de-konoha-resumer1.jpg" alt="image du village de konoah">
                
        <p class="resumer__paragraphe">

        L'histoire commence pendant l'adolescence de Naruto, vers ses douze ans. Orphelin cancre et grand farceur, il fait toutes les bêtises possibles pour se faire remarquer. 
        Son rêve : devenir le meilleur Hokage afin d'être reconnu par les habitants de son village. En effet, le démon renard à neuf queues scellé en lui a attisé la crainte et le mépris des autres villageois, qui, 
        avec le temps, ne font plus de différence entre Kyûbi et Naruto. Malgré cela, Naruto s'entraîne dur afin de devenir genin, le premier niveau chez les ninjas. 
        Après avoir raté l'examen genin 3 fois, il arrive finalement à recevoir son bandeau frontal de Konoha. Il est alors inclus dans une équipe de trois apprentis ninjas, 
        avec Sakura Haruno et le talentueux Sasuke Uchiwa qui veut venger les personnes chères à ses yeux, en tuant son frère Itachi Uchiwa. Peu après, ils rencontrent leur jōnin (ninja de classe supérieure), 
        celui qui s'occupera de leur formation : le mystérieux Kakashi Hatake.

        </p>
    </div>

    <div class="resumer__container-info">


        <p class="resumer__paragraphe">
            Le début de l'histoire se centre sur quatre personnages principaux : Naruto Uzumaki bien évidemment, mais aussi Sakura Haruno, Sasuke Uchiwa et leur sensei Kakashi Hatake, présents dans presque tous les premiers chapitres du manga et protagonistes de ceux-ci.
            <br>
            <br>
            Par la suite, de nouveaux personnages font leur apparition, comme les Sannin, trois ninjas légendaires qui deviendront les mentors des trois élèves dans la nouvelle génération et introduisant leur séparation. Naruto l'hyperactif suivra Jiraya, ermite ninja pervers au grand cœur, ancien maître du Quatrième Hokage ; Sakura, plus calme, suivra la formation de ninja médical de Tsunade ; Sasuke le surdoué deviendra le protégé d'Orochimaru, considéré comme un génie, il est néanmoins un criminel recherché pratiquant des expériences interdites et veut s'emparer du corps de Sasuke.
            
            

        </p>

        <img class="resumer__image" src="/images/naruto-konoha-ninjas-resume2.jpg" alt="image des ninjas de l'univer naruto">
        
    </div>

</section>
<%- include('partials/footer') %> 

</body>
</html>