html{
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 1.6rem;
    
}
.ancre{
 position: fixed;
 right: 0;
 bottom: 0;
}
.lien{
    text-decoration: none; 
}

.lien__image{
    max-width: 9rem;
}
.lien__image:hover{
    max-width: 12rem;
}

/* ================================================ MENU CHIBI ===================================================================== */

.menu-chibi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
    height: 100vh;
    background-image: url(../images/header-site.jpg);
    background-size: cover;
    padding-top: 2.5rem;
}

.logo{

    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    text-transform: uppercase;
    margin-left: 4.5rem;


}
.menu-chibi__container-bouton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    
}


.menu-chibi__image{
    max-width: 5rem;
    background-color: rgba(128, 128, 128, 0.435);
}

.menu-chibi__image:hover{
    max-width: 10rem;
}

.menu-chibi__sous-titre{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}
/* ============================================================= HISTOIRE ================================================== */
.resumer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    

}

.resumer__title, .liste-personnages__titre, .histoire-du-personnage__titre{
    border-bottom: 0.1rem solid gray;
    padding-bottom: 0.5rem;
    color: gray;
    font-weight: bold;
    padding-left: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    

    
    
}

.resumer__container-info{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 3.5rem;
   max-width: 120rem;
   
   
}

.resumer__image{
    width: 40%;
    height: 30rem;
    box-sizing: border-box;

}

.resumer__paragraphe{
    width: 40%;
    box-sizing: border-box;
    border: 0.1rem solid grey;
    padding: 1.5rem;
    border-radius: 5%;
}


/*=========================================SECTION LISTE DE PERSONNAGE =======================================================  */

.liste-personnages{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;  
}

.liste-personnages__titre{
   width: 100%;
   text-align: start;
    

}


.liste-personnages__tout-les-personnages{
    display: flex;
    flex-wrap: nowrap;
    max-width: 120rem;
    overflow: auto;
    height:65rem;  
}

.liste-personnages__container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
}


.liste-personnages__info-container{
    border: 0.1px solid gray;
    display: block; 
    height: 25rem; 
    width: 18rem;
    padding: 0.7rem;
 
}
.liste-personnages__nom-du-personnage{
    border-bottom: 0.1rem solid gray;
    padding-bottom: 0.5rem;
    color: gray;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-left: 0.5rem;

}

/* ========================================= HISTOIRE DE PERSONNAGE ====================================================== */

.flex-container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.flex-container__cards{
    margin: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    position: relative;
}

/* Creer une div */
.flex-container__cards-items{ 
    box-sizing: border-box;
    transition: 1s;
}
/* creer une balise image */
.cards-items-image{
    width: 100%;
    max-height: 60%;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(128, 128, 128, 0.447);
    /* empèche les event sur click de se produire  ainsi il n'héritera pas de l'event click sur sa div parent*/
    pointer-events: none;
}
/* une span */
.cards-items-nom-prenom{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(128, 128, 128, 0.447);
     /* empèche les event sur click de se produire, ainsi il n'héritera pas de l'event click sur sa div parent*/
    pointer-events: none;
    
}


